# -------------------
# Base (local / default)
# -------------------
name = "prod-staging-dexgram-userdb-api"
compatibility_date = "2024-12-01"
main = "src/index.ts"

# Cron (commun)
[triggers]
crons = ["*/5 * * * *"]

[env.prod.vars]
CLEANUP_INTERVAL_SECONDS = "5"
GENERAL_DOMAIN_EXPIRATION_MINUTES = "1440"
PHONE_EXPIRATION_MINUTES = "30"
LINK_DOMAIN_EXPIRATION_MINUTES = "525600"
MAX_USERNAME_SUFFIX_ATTEMPTS = "10"
MIN_USERNAME_Z_VALUE = "10"
MAX_USERNAME_Z_VALUE = "9999"

# -------------------
# PROD
# -------------------
[env.prod]
name = "prod-dexgram-userdb-api"
workers_dev = false
staging_urls = false
routes = [
  { pattern = "prod-userdb.dexgram.app/*", zone_name = "dexgram.app" }
]


[[env.prod.d1_databases]]
binding = "DB_INCO"
database_name = "prod-dexgram-inco-db"
database_id = "accc64b6-2aa1-4b24-ba53-d3548f263eef"

[[env.prod.d1_databases]]
binding = "DB_LINK"
database_name = "prod-dexgram-link-db"
database_id = "8170407c-0fd0-4b07-9c18-82ada50ee5ce"


# -------------------
# STAGING
# -------------------
[env.staging]
name = "staging-dexgram-userdb-api"
workers_dev = false
staging_urls = false
routes = [
  { pattern = "staging-userdb.dexgram.app/*", zone_name = "dexgram.app" }
]


[[env.staging.d1_databases]]
binding = "DB_INCO"
database_name = "dexgram-inco-db-staging"
database_id = "905040ab-a782-4201-9857-e01c1cd1f9ea"

[[env.staging.d1_databases]]
binding = "DB_LINK"
database_name = "dexgram-link-db-staging"
database_id = "5605a518-eabb-492e-b82d-f2ee97ef465a"
